pypdf
langchain
langchain-community
langchain-openai
langchain-ollama
langchain-chroma
chromadb
pytest
boto3
unstructured
python-pptx
python-magic
pandas
sentence-transformers
fastapi
uvicorn[standard]
sqlmodel
python-multipart
